<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>LOGIN REGISTRATION</title>
</head>

<body>

    
    <div class="d-flex justify-content-around">
        
            <form action="/users/create" method="post" class="col-5 mx-auto border p-5 my-5 text-light bg-dark">

                <label class="form-label">First Name</label>
                <input name="first_name" class="form-control">
                <br>
                <label class="form-label">Last name</label>
                <input name="last_name" class="form-control">
                <br>
                <label class="form-label">Email</label>
                <input name="email" class="form-control">
                <br>
                <label class="form-label">password</label>
                <input type="password" name="password" class="form-control">
                <br>
                <label class="form-label">Confirm password</label>
                <input type="password" name="confirm_pw" class="form-control">
                <br>
                <button class="btn btn-success">Register</button>
                {% with messages = get_flashed_messages(category_filter="registration") %} <!-- declare a variable called messages -->
                {% if messages %} <!-- check if there are any messages -->
                {% for message in messages %} <!-- loop through the messages -->
                <p style="color:blue">{{message}}</p> <!-- display each message in a paragraph tag -->
                {% endfor %}
                {% endif %}
                {% endwith %}
            </form>

        

  
<form action="/users/login" method="post" class="col-5 mx-auto border p-5 my-5 text-light bg-dark">
  
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-success">Login</button>
        {% with messages = get_flashed_messages(category_filter="login") %} <!-- declare a variable called messages -->
        {% if messages %} <!-- check if there are any messages -->
        {% for message in messages %} <!-- loop through the messages -->
        <p style="color:red">{{message}}</p> <!-- display each message in a paragraph tag -->
        {% endfor %}
        {% endif %}
        {% endwith %}
</form>


</div>
</body>

</html>